bz-header-menu.bz-header-menu-home-2 #bz-mobile-menu > ul {
  display: none;
}

.bz-topbar-area {
  margin-top: 20px;
}
.bz-topbar-left {
  display: flex;
  gap: 13px;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bz-topbar-left {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .bz-topbar-left {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bz-topbar-left {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .bz-topbar-left-text {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bz-topbar-left-text {
    margin-bottom: 0;
  }
}
.bz-topbar-left-text p {
  margin-bottom: 0;
  color: var(--clr-common-black-deep);
}
.bz-topbar-left .count_down_box {
  background: var(--clr-theme-primary);
  padding: 10px 20px;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bz-topbar-left .count_down_box {
    padding: 10px 15px;
  }
}
.bz-topbar-left .count_down_box .count_down {
  display: inline-block;
  color: #b65d40;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--clr-bg-gray-8);
  font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bz-topbar-left .count_down_box .count_down {
    margin-right: 7px;
    padding-right: 7px;
  }
}
.bz-topbar-left .count_down_box .count_down:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
@media (max-width: 767px) {
  .bz-topbar-right {
    justify-content: center !important;
  }
}
.bz-topbar-right-item {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid var(--clr-bg-gray-8);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bz-topbar-right-item {
    margin-right: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .bz-topbar-right-item {
    margin-right: 10px;
    padding-right: 10px;
  }
}
.bz-topbar-right-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
.bz-topbar-right-item-link {
  color: var(--clr-common-black-deep);
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}
.bz-topbar-right-item-link:hover {
  color: var(--clr-theme-primary);
}
.bz-middle-area {
  padding: 34px 0;
}
.bz-middle-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}
.bz-middle-wrap-bar a {
  font-size: 20px;
  color: var(--clr-common-black-deep);
}
.bz-middle-wrap-bar a:hover {
  color: var(--clr-theme-primary);
}
.bz-middle-wrap-form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--clr-bg-gray-8);
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.bz-middle-wrap-form-caregories {
  border-right: 1px solid var(--clr-bg-gray-8);
  margin-right: 20px;
  flex: 0 0 auto;
  width: auto;
}
.bz-middle-wrap-form-caregories ul li {
  display: block;
  position: relative;
}
.bz-middle-wrap-form-caregories ul li a {
  font-size: 16px;
  color: var(--clr-common-black-deep);
  padding: 15px 20px;
  display: inline-block;
}
.bz-middle-wrap-form-caregories ul li a i {
  margin-left: 5px;
}
.bz-middle-wrap-form-caregories ul li a.bz-cat-click:hover {
  color: var(--clr-theme-primary);
}
.bz-middle-wrap-form-search {
  width: 100%;
}
.bz-middle-wrap-form-search form {
  position: relative;
  z-index: 1;
}
.bz-middle-wrap-form-search form input {
  width: 100%;
  border: none;
  padding-right: 50px;
}
.bz-middle-wrap-form-search form input::-moz-placeholder {
  color: var(--clr-bg-gray-6);
  font-size: 16px;
  opacity: 1;
}
.bz-middle-wrap-form-search form input::placeholder {
  color: var(--clr-bg-gray-6);
  font-size: 16px;
  opacity: 1;
}
.bz-middle-wrap-form-search form button {
  position: absolute;
  background: transparent;
  border: none;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-bg-gray-6);
}
.bz-middle-right-link {
  margin-left: 10px;
  display: inline-block;
  color: var(--clr-bg-gray-6);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .bz-middle-right-link {
    margin-left: 5px;
  }
}
.bz-middle-right-link:last-child {
  padding-left: 20px;
  border-left: 1px solid var(--clr-bg-gray-8);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .bz-middle-right-link:last-child {
    padding-left: 10px;
  }
}
.bz-middle-right-link span {
  background: var(--clr-color-orange);
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  color: #bd6d3b;
  border-radius: 50%;
  position: relative;
  top: -13px;
}
.bz-header-main {
  background-color: var(--clr-theme-primary);
}
.bz-header-menu nav ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.bz-header-menu nav ul li a {
  font-size: 16px;
  color: var(--clr-common-white);
  padding: 30px 0;
  display: block;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.3s;
}
.bz-header-menu nav ul li .submenu {
  position: absolute;
  top: 120%;
  left: 0;
  width: 240px;
  border-top: 3px solid #f2f1ecb2;
  background-color: #fff;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16);
  border-radius: 1px 1px 5px 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 10;
}
.bz-header-menu nav ul li .submenu li {
  margin: 0;
  display: block;
}
.bz-header-menu nav ul li .submenu li:not(:last-child) a {
  border-bottom: 1px solid #ECECEC;
}
.bz-header-menu nav ul li .submenu li:hover > a {
  color: #6E6E6E;
  background-color: #ECECEC;
}
.bz-header-menu nav ul li .submenu li a {
  color: #6E6E6E;
  padding: 15px 25px;
  display: block;
  transition: 0.3s;
  line-height: 1;
}
.bz-header-menu nav ul li:is(.has-dropdown) > a:after {
  display: inline-block;
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  font-size: 13px;
  font-weight: 500;
  margin-left: 3px;
}
.bz-header-menu nav ul li:hover > a {
  color: #ECECEC;
}
.bz-header-menu nav ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.bz-header-support .teltext {
  color: var(--clr-common-white);
  font-size: 16px;
  display: inline-block;
  padding: 15px 0;
}
.bz-header-support .teltext span {
  margin-right: 10px;
  color: var(--clr-common-white);
}
.bz-header-support .teltext i {
  margin-right: 8px;
}
.bz-header-support .teltext a {
  transition: 0.3s;
}
.bz-header-support .teltext a:hover {
  color: #ECECEC;
}

.nice-select.bz-topbar-right-item-link.has-nice-select:after {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.nice-select.bz-topbar-right-item-link.has-nice-select .option.selected {
  font-weight: 500;
}

.nice-select .list {
  left: auto;
  right: 0;
}

.nice-select.has-nice-select {
  border: none;
  border-radius: 0;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  color: var(--clr-common-black-deep);
  padding: 0px;
  padding-right: 15px;
  float: none;
}
.nice-select.has-nice-select::after {
  width: 8px;
  height: 8px;
  right: 2px;
  border-color: var(--clr-common-black-deep);
  margin-top: -5px;
}
.nice-select.has-nice-select .option {
  padding-left: 18px;
  padding-right: 18px;
}

.count_down_box {
  background: var(--clr-theme-primary);
  padding: 15px 20px;
  border-radius: 3px;
}

.count_down {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--clr-bg-gray-8);
  font-size: 14px;
}
.count_down:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.bz-middle-right-link {
  padding: 10px 0;
}
.bz-middle-right-link:hover {
  color: var(--clr-theme-primary);
}

.bz-user-wrapper {
  position: relative;
  z-index: 1;
}
.bz-user-wrapper:hover .bz-user-dropdown {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.bz-user-dropdown {
  border-top: 3px solid #829B85;
  background-color: #fff;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16);
  border-radius: 1px 1px 5px 5px;
  position: absolute;
  right: 0;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 140px;
}
.bz-user-dropdown a {
  display: block;
  text-align: left;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #6E6E6E;
}
.bz-user-dropdown a:not(:last-child) {
  border-bottom: 1px solid #ECECEC;
}
.bz-user-dropdown a:last-child {
  border-radius: 1px 1px 5px 5px;
}
.bz-user-dropdown a:hover {
  background-color: #ECECEC;
}

.cat-filter {
  display: none;
}

.bz-category-wrapper {
  left: 0;
  position: absolute;
  top: 101%;
  width: 100%;
  border-top: 1px solid #d8c593;
  border-radius: 1px 1px 5px 5px;
  background-color: #bcab86;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  padding: 30px 40px;
  display: flex;
  z-index: 5;
  transform-origin: top;
  transform: scaleY(0);
  overflow-x: auto;
}
.bz-category-wrapper:is(.visible) {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.bz-category-wrapper-sidebar {
  left: 0;
  position: absolute;
  top: 101%;
  width: 100%;
  border-top: 1px solid #daa53c;
  border-radius: 1px 1px 5px 5px;
  background-color: #fff;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  padding: 20px;
  z-index: 5;
  transform-origin: top;
  transform: scaleY(0);
}
.bz-category-wrapper-sidebar:is(.visible) {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.bz-cat-number {
  font-size: 16px;
  width: 44px;
  height: 44px;
  background-color: #EEEEEE;
  display: inline-block;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.4s;
}

.bz-cat-upper-text {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

.bz-cat-item:not(:last-child) {
  margin-right: 38px;
}
.bz-cat-item:hover .bz-cat-number {
  background-color: #F55F1E;
  color: #fff;
}
.bz-cat-item label {
  cursor: pointer;
}

.bz-cat-img {
  width: 170px;
  height: 248px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  background-position: top;
  background-size: cover;
  transition: 1.5s;
  display: block;
}
.bz-cat-img:hover {
  background-position: bottom;
}

.bz-header-bar .side-toggle i {
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .bz-topbar-left-2 {
    margin-bottom: 15px;
  }
}

.bz-topbar-social-2 a {
  color: #888888;
  font-size: 16px;
  margin-left: 10px;
}
.bz-topbar-social-2 a:hover {
  color: #FB4A19;
}

.bz-topbar-left-text-2 p {
  color: #888888;
  font-size: 16px;
  margin-bottom: 0;
}

.bz-topbar-left-text-2 p i {
  margin-right: 10px;
  display: inline-block;
}

.bz-topbar-left-text-2 p span {
  color: #FB4A19;
}

.bz-topbar-area-2 {
  border-bottom: 1px solid #D4D4D4;
  padding: 20px 0;
}

.bz-topbar-right-item-2 {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid var(--clr-bg-gray-8);
}

.nice-select.bz-topbar-right-item-link-2:after {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.nice-select.bz-topbar-right-item-link-2 .option.selected {
  font-weight: 500;
}

.nice-select .list {
  left: auto;
  right: 0;
}

.nice-select.has-nice-select {
  border: none;
  border-radius: 0;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  color: var(--clr-common-black-deep);
  padding: 0px;
  padding-right: 15px;
  float: none;
}
.nice-select.has-nice-select::after {
  width: 8px;
  height: 8px;
  right: 2px;
  border-color: var(--clr-common-black-deep);
  margin-top: -5px;
}
.nice-select.has-nice-select .option {
  padding-left: 18px;
  padding-right: 18px;
}

.bz-bottom-area-2 {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bz-bottom-area-2 {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .bz-bottom-area-2 {
    padding: 20px 0;
  }
}

.bz-bottom-right-account-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .bz-bottom-right-account-2 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bz-bottom-right-account-2 {
    margin-left: 5px;
  }
}

.bz-bottom-right-account-info-2 a {
  display: block;
  text-align: start;
  font-size: 16px;
  line-height: 20px;
}

.bz-bottom-right-account-user-2 .bz-user-2 {
  width: 40px;
  height: 40px;
  background: #E5E5E5;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: #888;
}
.bz-bottom-right-account-user-2 .bz-user-2:hover {
  background-color: #FB4A19;
  color: #fff;
}

.bz-bottom-right-account-info-2 .bz-account-2 {
  color: #888888;
}
.bz-bottom-right-account-info-2 .bz-account-2:hover {
  color: #FB4A19;
}

.bz-bottom-right-account-info-2 .bz-login-2 {
  color: #222222;
  font-weight: 500;
}
.bz-bottom-right-account-info-2 .bz-login-2:hover {
  color: #FB4A19;
}

.bz-bottom-middle-2 {
  display: flex;
  gap: 15px;
}

.bz-bottom-middle-form-2 {
  width: 100%;
  border: 1px solid #D4D4D4;
  border-radius: 0;
}
.bz-bottom-middle-form-2 form {
  position: relative;
}
.bz-bottom-middle-form-2 form input {
  width: 100%;
  border: none;
  padding: 0 25px;
  height: 60px;
  line-height: 60px;
  padding-right: 60px;
}
.bz-bottom-middle-form-2 form input::-moz-placeholder {
  color: var(--clr-bg-gray-6);
  font-size: 16px;
  opacity: 1;
}
.bz-bottom-middle-form-2 form input::placeholder {
  color: var(--clr-bg-gray-6);
  font-size: 16px;
  opacity: 1;
}
.bz-bottom-middle-form-2 form button {
  position: absolute;
  background: transparent;
  border: none;
  right: 18px;
  top: 50%;
  color: var(--clr-bg-gray-6);
  transform: translateY(-50%);
}

.bz-bottom-middle-bar-2 a {
  background: #829B85;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
}
.bz-bottom-middle-bar-2 a:hover {
  background-color: #FB4A19;
}

.bz-bottom-right-link-2 {
  margin-right: 10px;
  padding-right: 15px;
  display: inline-block;
  position: relative;
  color: #888888;
}
.bz-bottom-right-link-2:hover {
  color: #FB4A19;
}
.bz-bottom-right-link-2 span {
  background: var(--clr-color-orange);
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: relative;
  top: 9px;
  left: -9px;
}
.bz-bottom-right-link-2::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-color: #D4D4D4;
  width: 1px;
  height: 100%;
}
.bz-bottom-right-link-2.bz-noafter {
  margin-right: 0;
  padding-right: 0;
}
.bz-bottom-right-link-2.bz-noafter::after {
  display: none;
}

.bz-right-wrap-2 {
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
}
.bz-right-wrap-2 .bz-bottom-middle-bar-2 a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
}