{% load static %}
<!Doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>NaraMarket</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        {% load static %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/cross2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/swipper.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/ui-range-slider.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/datepicker.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    </head>
    
    <body>

        <!-- bz-sidebar-informations-area-start -->
        <div class="bz-sidebar-informations side-info">
            <div class="bz-sidebar-logo-wrapper">
                <div class="row">
                    <div class="col-xl-6 col-8">
                        <div class="bz-sidebar-logo">
                            <a href="index.html"><img src="{% static 'assets/img/logo/logoN.png' %}" alt="logo-img">
</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-4">
                        <div class="bz-sidebar-close-wrapper text-end">
                            <button class="bz-sidebar-close side-info-close"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="bz-middle-wrap mb-25 mt-40">
                <div class="bz-middle-wrap-form bz-middle-wrap-sidebar">
                    <div class="bz-middle-wrap-form-caregories">
                        <ul>
                            <li><a href="#0" id="bz-cat-click-sidebar"><span class="bz-search-all-cat-sidebar">Categories</span> <i class="far fa-angle-down"></i></a>
                            </li>
                        </ul>
                        <div class="bz-category-wrapper-sidebar">
                            <div class="bz-cat-item-sidebar">
                                <input type="radio" class="cat-filter-sidebar" name="cat-filter-sidebar" id="fashion_sidebar" value="Fashion">
                                <label for="fashion_sidebar">Fashion</label>
                            </div>
                            <div class="bz-cat-item-sidebar">
                                <input type="radio" class="cat-filter-sidebar" name="cat-filter-sidebar" id="furniture_sidebar" value="Furniture">
                                <label for="furniture_sidebar">Furniture</label>
                            </div>
                            <div class="bz-cat-item-sidebar">
                                <input type="radio" class="cat-filter-sidebar" name="cat-filter-sidebar" id="grocery_sidebar" value="Grocery">
                                <label for="grocery_sidebar">Grocery</label>
                            </div>
                            <div class="bz-cat-item-sidebar">
                                <input type="radio" class="cat-filter-sidebar" name="cat-filter-sidebar" id="electronics_sidebar" value="Electronics">
                                <label for="electronics_sidebar">Electronics</label>
                            </div>
                        </div>
                    </div>
                    <div class="bz-middle-wrap-form-search">
                        <form action="#">
                            <input type="search" placeholder="Search..." >
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="bz-sidebar-menu-wrapper">
                <div class="bz-mobile-menu"></div>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <!-- bz-sidebar-informations-area-end -->

        <!-- header area start -->
        <header class="header-area">
           
            <div class="bz-middle-area">
                <div class="container container-full-1">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                            <div class="bz-middle-logo">
                                <a href="index.html"><img src="{% static 'assets/img/logo/logoN.png' %}" alt="logo-img">
</a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="bz-middle-wrap">
                                <div class="bz-middle-wrap-bar">
                                    <a href="#0" class="side-toggle"><i class="far fa-bars"></i></a>
                                </div>
                                <div class="bz-middle-wrap-form">
                                    <div class="bz-middle-wrap-form-caregories">
                                        <ul>
                                            <li><a href="#0" class="bz-cat-click" id="bz-cat-click"><span class="bz-search-all-cat">Categories</span> <i class="far fa-angle-down"></i></a>
                                            </li>
                                        </ul>
                                        <div class="bz-category-wrapper">
                                            <div class="bz-cat-item">
                                                <input type="radio" class="cat-filter" name="cat-filter" id="MODE" value="MODE">
                                                <label for="MODE">
                                                    <span class="bz-cat-upper-text">
                                                        <span class="bz-cat-number">01</span>MODE
                                                    </span>
                                                    <span class="bz-cat-img"data-background="{% static 'assets/img/apps/robe.jpeg' %}"></span>
                                                </label>
                                            </div>
                                            <div class="bz-cat-item">
                                                <input type="radio" name="cat-filter"  class="cat-filter" id="INFORMATIQUE" value="INFORMATIQUE">
                                                <label for="INFORMATIQUE">
                                                    <span class="bz-cat-upper-text">
                                                        <span class="bz-cat-number">02</span>INFORMATIQUE
                                                    </span>
                                                    <span class="bz-cat-img" data-background="{% static 'assets/img/apps/pc.jpg' %}"></span>
                                                </label>
                                            </div>
                                            <div class="bz-cat-item">
                                                <input type="radio" name="cat-filter"  class="cat-filter" id="MAISON" value="MAISON">
                                                <label for="MAISON">
                                                    <span class="bz-cat-upper-text">
                                                        <span class="bz-cat-number">03</span>MAISON
                                                    </span>
                                                    <span class="bz-cat-img" data-background="{% static ' assets/img/apps/canape.jpeg' %}"></span>
                                                </label>
                                            </div>
                                            <div class="bz-cat-item">
                                                <input type="radio" name="cat-filter"  class="cat-filter" id="ELECTRONIQUES" value="ELECTRONIQUES">
                                                <label for="ELECTRONIQUES">
                                                    <span class="bz-cat-upper-text">
                                                        <span class="bz-cat-number">04</span>ELECTRONIQUES
                                                    </span>
                                                    <span class="bz-cat-img" data-background="{% static 'assets/img/apps/machinecafe.jpeg' %}"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bz-middle-wrap-form-search">
                                        <form action="#">
                                            <input type="search" placeholder="I'm shopping for..." >
                                            <button type="submit"><i class="far fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                            <div class="bz-middle-right text-end">
                                <a class="bz-middle-right-link" href="wishlist.html"><i class="fal fa-heart"></i><span>0</span>
                                </a>
                                <a class="bz-middle-right-link" href="{% url 'cart' %}"><i class="fal fa-shopping-cart"></i><span>0</span></a>
                                
                                <div class="bz-user-wrapper d-inline-block">
                                    <a class="bz-middle-right-link bz-user" href="#0"><i class="fal fa-user"></i></a>
                                    <div class="bz-user-dropdown">
                                        <a href="{% url 'inscription' %}">inscription</a>
                                        <a href="{% url 'add_product' %}">Ajouter Produit</a>

                                      <!---- {% if user.is_authenticated and user.role == 'vendeur' %} -->
                                           <!---- <a href="{% url 'add_product' %}" class="btn btn-primary">Ajouter un article</a>-->
                                       <!----{% endif %} -->
                                        
                                        <!--{% if user.is_authenticated and user.role == 'vendeur' %}-->
                                         <a href="{% url 'vendeur_dashboard' %}" class="btn btn-warning">Tableau de bord vendeur</a>
                                        <!--{% endif %}-->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bz-header-main">
                <div class="container container-full-1">
                    <div class="row align-items-center">
                        <div class="col-2 d-lg-none">
                            <div class="bz-header-bar">
                                <a href="#0" class="side-toggle"><i class="far fa-bars"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 d-none d-lg-block">
                            <div class="bz-header-menu">
                                <nav id="bz-mobile-menu" class="bz-mobile-menu">
                                    <ul>
                                        <li class="has-dropdown"><a href="index.html">Accuiel</a>
                                            <ul class="submenu">
                                                <li><a href="index.html">Accuiel</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">Boutique</a>
                                            
                                            <ul class="submenu">    
                                                <li><a href="shop.html">Boutique</a></li>
                                                <li><a href="cart.html">Cart</a>panier</li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                       
                                        
                                        </li>
                                        <li><a href="{% url 'Apropos' %}">Qui sommes-nous</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-10">
                            <div class="bz-header-support text-end">
                                <span class="teltext"><i class="far fa-phone-alt"></i> <span>Support:</span>+ <a href="tel:(00)123456789">(00) 123 456 789</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header area end -->

        <!-- main area start  -->
        <main>

            <!-- slider area start -->
            <section class="slider-area">
                <div class="bz-single-slider mt-35">
                    <div class="container container-full-1">
                        <div class="row">
                            <div class="col-xxl-8 col-xl-8 col-lg-12">
                                <div class="bz-single-slider-main">
                                    <div class="bz-single-silder-main-wrapp">
                                        <div class="row align-items-center">
                                            <div class="col-xxl-7 col-xl-8 col-lg-7 col-md-8">
                                                <div class="bz-single-slider-main-content">
                                                    <h6 class="bz-single-slider-main-content-subtitle">Collection tendance</h6>
                                                    <h2 class="bz-single-slider-main-content-title">Tout ce que vous aimez, en un seul endroit
                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="172.818" height="7.964" viewBox="0 0 172.818 7.964">
                                                            <path id="Path_1921" data-name="Path 1921" d="M2762.508,561.551s85.916-15.621,172.64,0" transform="translate(-2762.418 -554.079)" fill="none" stroke="#829b85" stroke-width="1"/>
                                                            </svg>
                                                      </span>
                                                    </h2>
                                                    <p class="bz-single-slider-main-content-text">NaraMarket : Découvrez un univers où la tendance rencontre la praticité, où chaque achat vous rapproche de vos passions, de la mode à la technologie, en toute simplicité</p>
                                                    <a href="shop.html" class="bz-btn">Boutique</a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-5 col-xl-4 col-lg-5 col-md-4 d-none d-md-block">
                                                <div class="bz-single-slider-main-img">
                                                    <img src="{% static 'assets/img/slider/slider.png' %}" alt="img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="bz-single-slider-main-feature d-flex justify-content-between">
                                        <div class="bz-single-slider-main-feature-item">
                                            <div class="bz-single-slider-main-feature-item-heading">
                                                <i class="far fa-shopping-bag bz-single-slider-main-feature-item-heading-icon"></i>
                                                <h5 class="bz-single-slider-main-feature-item-heading-title"><a href="contact.html">Contacte-nous</a></h5>
                                            </div>
                                            <div class="bz-single-slider-main-feature-item-text">
                                                <p>Lorem Ipsum available the majority
                                                    have suffered alteration some</p>
                                            </div>
                                        </div>
                                        <div class="bz-single-slider-main-feature-item">
                                            <div class="bz-single-slider-main-feature-item-heading">
                                                <i class="fal fa-tshirt bz-single-slider-main-feature-item-heading-icon"></i>
                                                <h5 class="bz-single-slider-main-feature-item-heading-title"><a href="shop.html">Qualite Materiel</a></h5>
                                            </div>
                                            <div class="bz-single-slider-main-feature-item-text">
                                                <p>La garantie d’un matériel de qualité, pour ceux qui exigent le meilleur</p>
                                            </div>
                                        </div>
                                        <div class="bz-single-slider-main-feature-item">
                                            <div class="bz-single-slider-main-feature-item-heading">
                                                <i class="fal fa-usd-square bz-single-slider-main-feature-item-heading-icon"></i>
                                                <h5 class="bz-single-slider-main-feature-item-heading-title"><a href="contact.html">Payement securise</a></h5>
                                            </div>
                                            <div class="bz-single-slider-main-feature-item-text">
                                                <p>Vos achats protégés, votre confiance assurée</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bz-single-slider-main-bg">
                                        <img src="{% static 'assets/img/slider/slidee.png '%}" alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-12">
                                <div class="bz-single-slider-sidebar pt-50 pb-50">
                                    <div class="bz-single-slider-sidebar-img">
                                        <img src="{% static 'assets/img/slider/sliderr.png' %}" alt="img">
                                    </div>
                                    <div class="bz-single-slider-sidebar-btn text-center">
                                        <a href="shop.html" class="bz-btn">Boutique</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- slider area end -->

            <!-- feature area start -->
            <section class="feature-area pt-110 pb-110">
                <div class="bz-feature">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-8">
                                <div class="bz-section-title text-center mb-60">
                                    <h3>En Excusivite</h3>
                                    <p>Tout les aménagements maison</p>
                                </div>
                            </div>
                        </div>
                        <div class="bz-feature-active swiper-container bz-feature-space bz-feature-dot">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="bz-feature-single-box">
                                        <div class="bz-feature-single-box-img w_img">
                                            <img src="{% static 'assets/img/feature/salon.jpeg' %}" alt="img">
                                        </div>
                                        <div class="bz-feature-single-box-content">
                                            <h4 class="bz-feature-single-box-content-title"><a href="shop.html">Boutique</a></h4>
                                            <span class="bz-feature-single-box-content-items">24 Items</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-feature-single-box">
                                        <div class="bz-feature-single-box-img w_img">
                                            <img src="{% static 'assets/img/feature/meublee.jpeg' %}" alt="img">
                                        </div>
                                        <div class="bz-feature-single-box-content">
                                            <h4 class="bz-feature-single-box-content-title"><a href="shop.html">MAISON</a></h4>
                                            <span class="bz-feature-single-box-content-items">5 Items</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-feature-single-box">
                                        <div class="bz-feature-single-box-img w_img">
                                            <img src="{% static 'assets/img/feature/machinecafe.jpeg' %}" alt="img">
                                        </div>
                                        <div class="bz-feature-single-box-content">
                                            <h4 class="bz-feature-single-box-content-title"><a href="shop.html">MAISON</a></h4>
                                            <span class="bz-feature-single-box-content-items">13 Items</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-feature-single-box">
                                        <div class="bz-feature-single-box-img w_img">
                                            <img src="{% static 'assets/img/feature/table.jpeg' %}" alt="img">
                                        </div>
                                        <div class="bz-feature-single-box-content">
                                            <h4 class="bz-feature-single-box-content-title"><a href="shop.html">MAISON</a></h4>
                                            <span class="bz-feature-single-box-content-items">3 Items</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-feature-single-box">
                                        <div class="bz-feature-single-box-img w_img">
                                            <img src="{% static 'assets/img/feature/meublee.jpeg' %}" alt="img">
                                        </div>
                                        <div class="bz-feature-single-box-content">
                                            <h4 class="bz-feature-single-box-content-title"><a href="shop.html">MAISON</a></h4>
                                            <span class="bz-feature-single-box-content-items">50 articles</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="swiper-pagination bz-feature-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- feature area end -->

            <!-- post area start -->
            <div class="bz-post-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="bz-post-wrap d-flex align-items-center">
                                <div class="bz-post-wrap-content">
                                    <a href="shop.html" class="bz-post-wrap-content-link">30% de reduction sur tout les article</a>
                                    <h3 class="bz-post-wrap-content-title">toute  <br>
                                        Collection</h3>
                                    <a href="shop.html" class="bz-post-wrap-content-btn">Boutique</a>
                                </div>
                                <div class="bz-post-wrap-img">
                                    <img src="{% static 'assets/img/post/télé.jpeg' %}" alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="bz-post-wrap d-flex align-items-center">
                                <div class="bz-post-wrap-content">
                                    <a href="shop.html" class="bz-post-wrap-content-link">Nouvaute</a>
                                    <h3 class="bz-post-wrap-content-title">Collection MAISON <br>
                                        </h3>
                                    <a href="shop.html" class="bz-post-wrap-content-btn">Regardez</a>
                                </div>
                                <div class="bz-post-wrap-img">
                                    <img src="{% static 'assets/img/post/meubletele.jpeg' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- post area end -->

            <!-- season area start -->
            <section class="season-area pt-110 pb-60">
                <div class="bz-season">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-8">
                                <div class="bz-section-title text-center mb-60">
                                    <h3>Nouvaute</h3>
                                    <p>Découvrez les dernières tendances et nouveautés</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="bz-season-item mb-40" bis_skin_checked="1">
                                    <div class="bz-season-item-wrapper position-relative">
                                        <div class="bz-season-item-img w_img" bis_skin_checked="1">
                                            <a href="shop-details.html" class=""><img src="{% static 'assets/img/season/camaper.jpeg' %}" alt="img"></a>
                                            <span class="trend">Trending</span>
                                        </div>
                                        <div class="bz-season-item-hover-wrapper">
                                            <div class="bz-season-item-img-icon">
                                                <a href="wishlist.html"><i class="fal fa-heart"></i></a>
                                                <a href="compare.html"><i class="far fa-sync-alt"></i></a>
                                                <a href="#0" class="eye-popup-product"><i class="far fa-expand-arrows-alt"></i></a>
                                            </div>
                                            <div class="bz-season-item-hover">
                                                <div class="bz-season-item-hover-cart">
                                                    <a href="cart.html">Add to Cart</a>
                                                </div>
                                                <ul class="product-color-nav">
                                                    <li class="cl-light-green active">
                                                    <img src="{% static 'assets/img/season/camaper.jpeg' %}" alt="img">
                                                    </li>
                                                    <li class="cl-black">
                                                    <img src="{% static 'assets/img/season/camaper.jpeg' %}" alt="img">
                                                    </li>
                                                    <li class="cl-red">
                                                    <img src="{% static 'assets/img/season/camaper.jpeg' %}" alt="img">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="bz-season-item-content pt-20">

                                        <h4 class="bz-season-item-content-title"><a href="shop-details.html">Canape 5 Place</a></h4>
                                        <div class="bz-season-item-content-rating">
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="far fa-star"></i></a>
                                            <span>4.5 Rating</span>
                                        </div>
                                        <span class="price-bottom">450600FCFA</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="bz-season-item mb-40" bis_skin_checked="1">
                                    <div class="bz-season-item-wrapper position-relative">
                                        <div class="bz-season-item-img w_img" bis_skin_checked="1">
                                            <a href="shop-details.html" class=""><img src="{% static 'assets/img/shop/table.jpeg' %}" alt="img"></a>
                                            <span class="dis">17%</span>
                                        </div>
                                        <div class="bz-season-item-hover-wrapper">
                                            <div class="bz-season-item-img-icon">
                                                <a href="wishlist.html"><i class="fal fa-heart"></i></a>
                                                <a href="compare.html"><i class="far fa-sync-alt"></i></a>
                                                <a href="#0" class="eye-popup-product"><i class="far fa-expand-arrows-alt"></i></a>
                                            </div>
                                            <div class="bz-season-item-hover">
                                                <div class="bz-season-item-hover-cart">
                                                    <a href="cart.html">Add to Cart</a>
                                                </div>
                                                <ul class="product-color-nav">
                                                    <li class="cl-light-green active">
                                                    <img src="{% static 'assets/img/shop/table.jpeg' %}" alt="img">
                                                    </li>
                                                    <li class="cl-black">
                                                    <img src="{% static 'assets/img/shop/table.jpeg' %}" alt="img">
                                                    </li>
                                                    <li class="cl-red">
                                                    <img src="{% static 'assets/img/shop/table.jpeg' %}" alt="img">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="bz-season-item-content pt-20">
                                        <h4 class="bz-season-item-content-title"><a href="shop-details.html">Armoir de qualité</a></h4>
                                        <div class="bz-season-item-content-rating">
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="far fa-star"></i></a>
                                            <span>4.5 Rating</span>
                                        </div>
                                        <span class="price-bottom">100000fcfa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="bz-season-item mb-40" bis_skin_checked="1">
                                    <div class="bz-season-item-wrapper position-relative">
                                        <div class="bz-season-item-img w_img" bis_skin_checked="1">
                                            <a href="shop-details.html" class=""><img src="{% static 'assets/img/armoir.jpeg' %}" alt="img"></a>
                                            <span class="trend">Featured</span>
                                        </div>
                                        <div class="bz-season-item-hover-wrapper">
                                            <div class="bz-season-item-img-icon">
                                                <a href="wishlist.html"><i class="fal fa-heart"></i></a>
                                                <a href="compare.html"><i class="far fa-sync-alt"></i></a>
                                                <a href="#0" class="eye-popup-product"><i class="far fa-expand-arrows-alt"></i></a>
                                            </div>
                                            <div class="bz-season-item-hover">
                                                <div class="bz-season-item-hover-cart">
                                                    <a href="cart.html">Add to Cart</a>
                                                </div>
                                                <ul class="product-color-nav">
                                                    <li class="cl-light-green active">
                                                    <img src="{% static 'assets/img/armoir.jpeg' %}" alt="img">
                                                    </li>
                                                    <li class="cl-black">
                                                    <img src="{% static 'assets/img/armoir.jpeg' %}" alt="img">
                                                    </li>
                                                    <li class="cl-red">
                                                    <img src="{% static 'assets/img/armoir.jpeg' %}" alt="img">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="bz-season-item-content pt-20">

                                        <h4 class="bz-season-item-content-title"><a href="shop-details.html">Meuble de qualité</a></h4>
                                        <div class="bz-season-item-content-rating">
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="far fa-star"></i></a>
                                            <span>4.5 Rating</span>
                                        </div>
                                        <span class="price-bottom">355900fcfa</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- season area end -->


           
            <!-- brand area start -->
            <div class="brand-area pt-70 pb-110">
                <div class="bz-brand">
                    <div class="container">
                        <div class="bz-brand-active swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="bz-brand-img">
                                        <img src="{% static 'assets/img/brand/sac.jpeg' %}" alt="brand image not found">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-brand-img">
                                        <img src="{% static 'assets/img/brand/sacchaussure.jpeg' %}" alt="brand image not found">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-brand-img">
                                        <img src="{% static 'assets/img/brand/robesnoir.jpeg' %}" alt="brand image not found">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-brand-img">
                                        <img src="{% static 'assets/img/brand/roberouge.jpeg' %}" alt="brand image not found">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bz-brand-img">
                                        <img src="{% static 'assets/img/brand/cleusb.jpeg' %}" alt="brand image not found">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- brand area end -->

            

        </main>
        <!-- main area end -->

         <!-- footer area start -->
        <footer class="bz-footer">
            <div class="container">
                <div class="bz-footer-top pt-60 pb-20">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-7 col-sm-7">
                            <div class="bz-footer-widget mb-40">
                                <div class="bz-footer-logo mb-25">
                                    <a href="index.html"><img src="{% static 'assets/img/logo/logoN.png' %}" alt="Logo"></a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-5 col-sm-5">
                            <div class="bz-footer-widget mb-40">
                                <h4 class="bz-footer-widget-title mb-25">Boutique</h4>
                                <div class="bz-footer-widget-list">
                                    <ul>
                                        <li><a href="{% url 'shop' %}">Categories MODE</a></li>
                                        <li><a href="{% url 'shop' %}">Categories INFORMATIQUE</a></li>
                                        <li><a href="{% url 'shop' %}">Categories MAISON</a></li>
                                        <li><a href="{% url 'shop' %}">Categories ELECTRONIQUES</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-7 col-sm-7">
                            <div class="bz-footer-widget mb-40">
                                <h4 class="bz-footer-widget-title mb-25">A propos de nous</h4>
                                <div class="bz-footer-widget-list">
                                    <ul>
                                        <li><a href="{% url 'Apropos' %}">A propos</a></li>
                                        <li><a href="{% url 'add_product' %}">Ajouter un produit</a></li>
                                        <li><a href="{% url 'shop' %}">tout nos Collection</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5">
                            <div class="bz-footer-widget mb-40">
                                <h4 class="bz-footer-widget-title mb-25">Ce que nous proposons</h4>
                                <div class="bz-footer-widget-list">
                                    <p>la plateforme qui connecte les vendeurs et les acheteurs dans un espace simple, sûr et moderne</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bz-footer-copyright">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-7">
                            <p class="bz-footer-copyright-text text-center text-sm-start">Tous droits reservés par Nacro Adjaratou</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-5">
                            <div class="bz-footer-copyright-social text-sm-end text-center">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->
       
        <!-- bz-single-product-popup-start -->
        
        <!-- back to top start -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- back to top end -->

		<!-- JS here -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/swipper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/appear.min.js' %}"></script>
<script src="{% static 'assets/js/datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/cross2.min.js' %}"></script>
<script src="{% static 'assets/js/countdown.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui-slider-range.js' %}"></script>
<script src="{% static 'assets/js/back-to-top.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>